/* Latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli Regular'), local('Muli-Regular'), url(https://fonts.gstatic.com/s/muli/v12/7Auwp_0qiz-afTLGLQjUwkQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  src: local('Muli ExtraBold'), local('Muli-ExtraBold'), url(https://fonts.gstatic.com/s/muli/v12/7Au_p_0qiz-adZXgOCX2z24PMFk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* General styling for the site */
html{
  font-size: 16px;
}

section, aside, .bite, footer{
  display: flex;
  flex-wrap: wrap;
}

section, footer{
  width: calc(100% - 48px);
  padding: 32px 24px;
  position: relative;
  top: 64px;
}

aside{
  align-content: flex-start;
  width: calc(40% - 24px);
  padding-left: 24px;
}

img, video{
  width: 100%;
  height: auto;
  display: block;
}

.img-container{
  overflow: hidden;
}

h1, h2, h3, h4, a{
  font-family: "Roboto", sans-serif;
  color: hsl(0, 0%, 29%)
}

span, p{
  font-family: "Muli", sans-serif;
  color: hsl(0, 0%, 29%)
}

h1{
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 1.5px;
  margin: 32px 0 24px 0;
}

h2{
  font-weight: 500;
  font-size: 2rem;
  width: 100%;
  margin-bottom: 32px;
  text-align: center;
}

h3{
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.2;
}

h4{
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 1.25px;
  margin-bottom: 8px;
}

a{
  text-decoration: none;
}

p{
  line-height: 1.5;
  margin-bottom: 8px;
}

nav a:hover{
  color: hsl(0, 0%, 61%);
}

nav a:active{
  color: hsl(212, 72%, 60%);
}

/* general for mobile */
@media only screen and (max-width: 800px) {

  header, section, footer, aside{
    display: flex;
    width: 100%;
    padding: 0;
  }

  h1{
    margin: 0 0 32px 0;
  }

  h2{
    padding: 32px 0 16px 0;
    margin: 0;
  }

  h3{
    margin-bottom: 24px;
    font-size: 2rem;
    letter-spacing: 0.75px;
  }
}

/* Header specific styling */
header{
  display: flex;
  position: fixed;
  height: 64px;
  top: 0;
  width: calc(100% - 48px);
  align-content: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 24px;
  z-index: 2;
}

.icon{
  display: flex;
  align-items: center;
}

.icon img{
  width: 50px;
}

.icon span{
  font-weight: 800;
  text-transform: uppercase;
  color: hsl(0, 0%, 29%);
  font-size: 1.5rem;
}

#academy{
  color: hsl(0, 0%, 61%);
  font-weight: 400;
}
/* header navigation styling */
header nav{
  display: flex;
  align-items: center;
}

nav ul li{
  display: inline-block;
  margin-left: 16px;
}

nav a:hover{
  color: hsl(0, 0%, 61%);
}

nav a:active{
  color: hsl(212, 72%, 60%);
}

#menu-mobile{
  display: none;
}

/* mobile header design */
@media only screen and (max-width: 800px){
  .icon, #menu-full{
    display: none;
  }

  #menu-mobile{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content: center;
  }

  #menu-mobile img{
    width: 2.5rem;
  }
}

/* Overall body styling */
.main{
  width: 60%;
}

.bite{
  border: solid 1px hsl(180, 3%, 88%);
  padding: 16px;
  margin-top: 1px;
  width: 100%;
}

.img-content.bite-img{
    width: 35%;
    padding-right: 16px;
}

.bite-cont{
  width: 61%;
}

.bite-cont a{
  color: hsl(212 72% 60%);
  line-height: 1.5;
}

.bite-cont a:hover{
  color: hsl(212 72% 80%);
}

.bite-cont a:active{
  color: hsl(0 0% 29%);
}

@media only screen and (min-height: 800px){
  section:nth-child(odd){
    background-color: hsl(0, 0%, 85%);
  }

  .bite:hover{
    background-color: hsl(0 0% 85%);
  }
}

@media only screen and (max-height: 800px){
  section{
    border-bottom: solid 1px hsl(0, 0%, 85%);
  }

  section:first-child{
    background-color: hsl(0, 0%, 85%);
  }

  section:last-child{
    border: none;
  }

  aside{
    padding: 16px;
  }

  .main{
    width: 100%;
  }

  #events-main, .thesis-full{
    display: none;
  }
}

/* Banner specific styling */
.side-content{
  align-content: center;
}

.btn{
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 8px;
  background-color: hsl(0, 0%, 29%);
  z-index: 1;
  margin-top: 30px;
}

.btn span{
  color: hsl(0, 0%, 100%);
  line-height: 2;
  font-size: 1.5rem;
}

.btn:hover{
  background-color: hsl(0, 0%, 61%);
}

.btn:active{
  background-color: hsl(212, 72%, 60%);
}

@media only screen and (max-width: 800px){
  .side-content{
    padding: 32px 16px;
  }

  .btn{
    width: 100%;
    background-color: hsl(0, 0%, 61%);
    z-index: 1;
    margin: 0;
  }

  .btn span{
    font-family: "Roboto", sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
    letter-spacing: 0.5px;
  }

  .btn:hover{
    background-color: hsl(0, 0%, 29%);
  }

  .btn:active{
    background-color: hsl(212, 72%, 60%);
  }
}

/* General information/ events specific styling */
#events-main p{
  margin-bottom: 32px;
  font-size: 1.25rem;
}

.mobile-bite{
  display: none;
}

@media only screen and (max-height: 800px){
  .bite{
    width: 100%;
    border: none;
    margin: 0 0 64px 0;
    padding: 0;
  }

  .bite:last-child{
    margin: 0;
  }

  .full-bite{
    display: none;
  }

  .img-content.bite-img{
      width: 100%;
      padding: 0;
      margin-bottom: 16px;
  }

  .mobile-bite{
    display: block;
  }

  .bite-cont{
    margin-left: 16px;
    width: 90%;
  }

  .bite-cont a, .bite-cont p{
    font-size: 1.25rem;
  }
}

/* Course catelogue specific styling */

#course-cat{
  padding: 32px 72px;
  justify-content: center;
  align-items: center;
}

#course-mobile{
  display: none;
}

.course{
  width: calc(100% / 3.5);
  height: 400px;
  margin: 32px 16px;
}

.course-title{
  text-transform: uppercase;
  margin: 8px 0;
  font-size: 1.25rem;
}

.course-desc{
  background-color: hsl(0, 0%, 100%);
  padding: 16px;
  height: 35%;
}

@media only screen and (max-width: 800px){
  #course-cat{
    width: 100%;
    padding: 0 0 32px 0;
  }

  .course{
    display: none;
  }

  #course-mobile{
    display: block;
    width: 100%;
    padding: 0 16px 0 16px;
  }

  #course-mobile h3{
    line-height: 1;
    letter-spacing: 1.3px;
    margin: 0;
    background-color: hsl(0, 0%, 85%);
    padding: 16px 0 24px 16px;
    margin-bottom: 8px;
  }

  #course-mobile h3:hover{
    background-color: hsl(0, 0%, 29%);
    color: hsl(0, 0%, 100%);
  }

  #course-mobile h3:active{
    background-color: hsl(212, 72%, 60%);
  }
}

/* Thesis section specific styling */
@media only screen and (max-width: 800px){
  #thesis-main{
    padding-bottom: 24px;
  }
}

/* Footer specific styling */
footer{
  padding: 16px 24px;
  border-top: solid 1px hsl(180, 3%, 88%);
}

@media only screen and (max-width: 800px){
  footer{
    border: none;
  }
}
